.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(14, 1, 1, 0.25);
  background-color: gray;
  padding: 1em;
  margin-bottom: 5px;
}

.months {
  font-size: 2em;
  font-weight: 500;
}
